body {
    background-color: #f6e8ea;
    color: #4c4b63;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

header {
    margin: 10px;
}

.quiz-content {
    margin: 15px;
    padding: 10px;
    border: 10px;
    height: auto;
    width: auto;
    text-align: center;
}

#start {
    font-size: 24px;
    width: 200px;
    height: 50px;
    color: #dd7230;
}

#start:hover {
    color: #00916E;
}

.quiz-content-wrapper {
    flex-wrap: wrap;
    justify-content: center;
}

.first-question,
.second-question,
.third-question,
.fourth-question,
.fifth-question {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 50%;
    font-size: 20px;
}

button {
    margin: 5px;
}

.answer-btn {
    font-size: 20px;
    width: 180px;
    height: 40px;
}

#answer-btn-one-correct, 
#answer-btn-two-correct, 
#answer-btn-three-correct, 
#answer-btn-four-correct, 
#answer-btn-five-correct {
    font-size: 20px;
    width: 180px;
    height: 40px;
}

.score-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 50%;
}

.score-item {
    list-style-type: none;
}

footer {
    font-size: 10px;
}